<header>
    <ul>
        <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">About</a></li>
        <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Projects</a></li>
        <li id="logo"><a href="#">CP</a></li>
        <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Create Project</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contact</a></li>
    </ul>
</header>

<section id="content">
    <router-outlet></router-outlet>
</section>

<footer>
    Project Page by Cristian Palmero&copy;
</footer>